@keyframes forestSlide {
  0% {
    transform: translate3d(em(0px), 0, 0);
  }
  100% {
    transform: translate3d(em(-150px), 0, 0);
  }
}

.Forest {
  position: absolute;

  width: em(1024px)+ em(150px);
  background-image: url(/images/forest.png);
  bottom: 12px;
  height: 100px;
  animation:forestSlide 4s linear infinite;
}
/*
@keyframes forestSlide {
  0% {left:0px; }
  100% {left:-150px; }
}
*/
