@keyframes townSlide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(em(-600px), 0, 0);
  }
}

.Town {
  position: absolute;

  width: em(1024px)+ em(600px);
  background-image: url(/images/town.png);
  bottom: 12px;
  height: 100px;
  animation:townSlide 30s linear infinite;
}
/*
@keyframes townSlide {
  0% {left:0px; }
  100% {left:-600px; }
}
*/
