// bower:scss
// endbower



body {
    background: black;
    font-family: 'Freckle Face', cursive;
}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@import '_game-canvas';
@import '_player';
@import '_scoreboard';
@import '_floor';
@import '_forest';
@import '_clouds';
@import '_stopsign';
@import '_town';
@import '_plane';
@import '_pipe';
@import '_stars';
@import '_planet';
